
  #movil {
    text-align: center; 
    padding: 5px;
    color: #ffffff;
   
  }

  body{
    background-color: rgb(78, 78, 78);
  }
  
   button {
    background-color: #a00000;
    color: rgb(0, 0, 0);
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
