
  #movil {
    text-align: center; 
    padding: 5px;
    color: #ff0000;
   
  }

  body{
    background-color: rgb(0, 0, 0);
  }
  
   button {
    background-color: #ffffff;
    color: rgb(255, 38, 0);
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
